body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

form {
    background: white;
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #2575fc;
    margin-bottom: 25px;
}
.student-img{
    display:block;
    margin:auto;
    width:100px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 12px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
}

input:focus,
textarea:focus {
    border-color: #2575fc;
    outline: none;
}

.gender {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    background: #2575fc;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    transform: scale(1.03);
    transition: 0.3s;
}